/* HTML */
html {
    height: 0;
    scroll-behavior: smooth;
}

/* Wrapper */
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(auto,1fr);
}


/* Body */
 body {
     margin: 0;
     background: url(../images/background.jpg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
 }

/* Nav Bar */
nav {
    width: 100%;
    height: 50px;
    background-color: rgba(97, 96, 96, 0.69);
    position: fixed;
}

nav ul {
    list-style-type: none;
    padding-right: 25px;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    text-transform: uppercase;
}

/* Hover */

nav ul li a:hover {
    color: white;
}
    


/* Header */
#home {
    background: url(../images/display.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header-state {
    padding-top: 50vh;
    padding-left: 0px;
    text-align: center;
    letter-spacing: 15px;
    text-shadow: 5px 5px 5px black;
    color: white;
    text-transform: uppercase;
}

/* Main */


/* About */
#abt {
    width: 100%;
    height: 100vh;
    background-color: #dccacab5;
    font-family: Dancing Script,sans-serif;
    box-shadow: 5px 5px 5px;
}

.paragraph {
    text-align: center;
    margin-top: 0px;
    padding-top: 10%;
    width: 50%;
    font-size: 200%;
    padding-left: 27%;
}

/* Education */
#edu {
    width: 100%;
    height: 100vh;
    background-color: #d8d8d8b5;
    box-shadow: 5px 5px 5px;
}

.edu {
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    padding-top: 8vh;
}

.edu img {
    border-radius: 40px;
}



/* Skills */
#skill {
    width: 100%;
    height: 100vh;
    background-color: #d8d8d8b5;
    box-shadow: 5px 5px 5px;
}

.skill {
    text-align: center;
    font-size: 22px;
    padding-top: 8vh;
}

.logo {
    width: 100px;
    height: 100px;
    transition: width 1s ease-out, height 1s ease-out;
}

.logo:hover {
    width: 120px;
    height: 120px;
    transition: width 2s ease-out, height 2s ease-out;
}

.responsive-img {
    width: 250px;
    height: 150px;
    border-radius: 50px;
    transition: width 2s ease-out, height 2s ease-out;
}

.responsive-img:hover {
    width: 280px;
    height: 180px;
    border-radius: 50px;
    transition: width 2s ease-out, height 2s ease-out;
}


/* Accomplishments */
#awards {
    width: 100%;
    height: 100vh;
    background-color: #d8d8d8b5;
    text-align: center;
    padding-top: 10vh;
    box-shadow: 5px 5px 5px;
}

.awards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .awards-grids {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


/* Projects */
#projects {
    width: 100%;
    height: 100vh;
    background-color: #c5c2c2e8;
    text-align: center;
    padding-top: 10vh;
    box-shadow: 5px 5px 5px;
}

.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 40px;
  }
  .project-grid {
    background-image: url(../images/Wild-HD-Wallpaper.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    font-size: 30px;
    text-align: center;
    height: 100px;
  }


/* Contact Details */
#con {
    width: 100%;
    height: 60vh;
    background-color: #d8d8d8b5;
    text-align: center;
    padding-top: 3vh;
    box-shadow: 5px 5px 5px;
}

.con img {
    border-radius: 30%;
}

.icon:hover {
        transform: rotateY(720deg);
        transition: transform 4s ease-out;
}

/* ---------------------------------------------------- */

/* Responsive Design */
/* For Tablet */

@media only screen and (max-width: 990px) {
    /* HTML */
html {
    height: 0;
    scroll-behavior: smooth;
}

/* Body */
 body {
     margin: 0;
 }

 .wrapper {
     display: grid;
     width: 100%;
 }

 .header-state {
     font-size: 15px;
     letter-spacing: 5px;
 }

/* Nav Bar */
nav {
    /* width: 100%; */
    height: 500px;
    background-color: rgba(40, 255, 33, 0);
    /* position: fixed; */
}

nav ul {
    list-style-type: none;
    padding-right: 5px;
    width: 20%;
    padding-left: 5px;
    /* transform: translateX(16em); */
}

nav ul li {
    display: flex;
    background-color: #ffffff80;
    margin: 10px 10px 10px 10px;
    width: 190px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 15px;
    margin: 10px;
    text-transform: uppercase;
}

/* Hover */

nav ul li a:hover {
    background-color: #f70410;
    /* #f7f304 */
    color: white;
    border-radius: 10px;
}
    


/* Header */
#home {
    background-image: url(../images/display.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

/* Main */


/* About */
#abt {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

.paragraph {
    text-align: center;
    margin-top: 0px;
    padding-top: 10%;
    width: 50%;
    font-size: 20px;
    padding-left: 27%;
}

/* Education */
#edu {
    width: 100%;
    height: 100vh;
    
}

.edu {
    text-align: center;
    font-size: 16px;
    line-height: 10px;
    padding-top: 2vh;
    padding-left: 90px;
}

.edu img {
    border-radius: 40px;
    width: 100px;
    height: 70px;
    display: none;
}



/* Skills */
#skill {
    width: 100%;
    height: 150vh;
}

#skill h1 {
    margin-top: 0;
}

.skill {
    text-align: center;
    font-size: 22px;
    padding-top: 2px;
}



.logo {
    width: 70px;
    height: 70px;
    transition: width 1s ease-out, height 1s ease-out;
}

.logo:hover {
    width: 90px;
    height: 90px;
    transition: width 2s ease-out, height 2s ease-out;
}

.responsive-img {
    width: 250px;
    height: 150px;
    border-radius: 50px;
    transition: width 2s ease-out, height 2s ease-out;
}

.responsive-img:hover {
    width: 280px;
    height: 180px;
    border-radius: 50px;
    transition: width 2s ease-out, height 2s ease-out;
}


/* Accomplishments */
#awards {
    width: 100%;
    height: 150vh;
    text-align: center;
    padding-top: 2vh;
}


.awards {
    display: grid;
    grid-template-columns: auto  auto auto;
    padding: 10px;
    width: 70vh;
    margin-left: 45vh;
  }
  .awards-grid {
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 150px;
  }

  .awards-grid img {
      width: 150px;
      height: 150px;
  }


/* Projects */
#projects {
    width: 100%;
    height: 150vh;
    text-align: center;
    padding-top: 10vh;
}

.project {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    width: 700px;
    padding-left: 40vh;
  }
  .project-grid {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 10px;
    text-align: center;
    width: 200px;
    height: 113px;
  }


/* Contact Details */
#con {
    width: 100%;
    height: 110vh;
    text-align: center;
    padding-top: 3vh;
}

.con img {
    border-radius: 30%;
}

.icon:hover {
        transform: rotateY(720deg);
        transition: transform 4s ease-out;
}

}

/* ---------------------------------------------------- */

/* For Mobile */

@media only screen and (max-width: 700px) and (min-width: 300px) {
    /* HTML */
html {
    height: 0;
    scroll-behavior: smooth;
}

/* Body */
 body {
     margin: 0;
 }

 .wrapper {
     display: grid;
     width: 100%;
 }

/* Nav Bar */
nav {
    width: 100%;
    height: 0px;
    background-color: rgba(40, 255, 33, 0);
    position: fixed;
}

nav ul {
    list-style-type: none;
    padding-right: 5px;
    width: 20%;
    padding-left: 5px;
    /* transform: translateX(16em); */
}

nav ul li {
    display: flex;
    background-color: #ffffff80;
    /* margin: 10px 10px 10px 10px; */
    width: 170px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 1px;
    margin: 10px;
    text-transform: uppercase
}

/* Hover */

nav ul li a:hover {
    background-color: #f70410;
    /* #f7f304 */
    color: white;
    border-radius: 10px;
}
    


/* Header */
#home {
    background-image: url(../images/display.jpg);
    width: 100%;
    height: 180vh;
    background-position: center;
    background-size: cover;
}

.header-state {
    padding-top: 50vh;
    padding-left: 0px;
    text-align: center;
    letter-spacing: 15px;
    text-shadow: 5px 5px 5px black;
    color: white;
    text-transform: uppercase;
    font-size: x-small;
}


/* Main */


/* About */
#abt {
    width: 100%;
    height: 170vh;
    background-color: #dccacab5;
    font-family: Dancing Script,sans-serif;
    box-shadow: 5px 5px 5px;
}

.paragraph {
    text-align: center;
    margin-top: 0px;
    padding-top: 10%;
    width: 50%;
    font-size: 200%;
    padding-left: 27%;
}

/* Education */
#edu {
    width: 100%;
    height: 170vh;
    background-color: #d8d8d8b5;
    box-shadow: 5px 5px 5px;
}

.edu {
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    padding-top: 2vh;
    padding-left: 170px;
}

.edu img {
    border-radius: 40px;
    width: 0px;
    height: 0px;
}



/* Skills */
#skill {
    width: 100%;
    height: 170vh;
    background-color: #d8d8d8b5;
    box-shadow: 5px 5px 5px;
}

#skill h1 {
    margin: 0;
}

.skill {
    text-align: center;
    font-size: 20px;
    padding-top: 2px;
}

.image {
    width: 0px;
    height: 0px;
}

.html-img {
    width: 100px;
    height: 100px;
}

.css-img {
    width: 80px;
    height: 100px;
}

.logo {
    width: 100px;
    height: 100px;
    transition: width 1s ease-out, height 1s ease-out;
}

.logo:hover {
    width: 120px;
    height: 120px;
    transition: width 2s ease-out, height 2s ease-out;
}

.responsive-img {
    width: 250px;
    height: 150px;
    border-radius: 25px;
    transition: width 2s ease-out, height 2s ease-out;
}

.responsive-img:hover {
    width: 280px;
    height: 180px;
    border-radius: 50px;
    transition: width 2s ease-out, height 2s ease-out;
}


/* Accomplishments */
#awards {
    width: 100%;
    height: 170vh;
    text-align: center;
    padding-top: 2vh;
    font-size: 15px;
    background-color: #d8d8d8b5;
    box-shadow: 5px 5px 5px;
}

#awards h1 {
    margin-top: 0;
    margin-bottom: 0;
}


.awards {
    display: grid;
    grid-template-columns: auto  auto auto;
    padding: 10px;
    width: 140vh;
    margin-left: 70vh;
  }
  .awards-grid {
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 150px;
  }

  .awards-grid img {
      width: 150px;
      height: 150px;
  }


/* Projects */
#projects {
    width: 100%;
    height: 190vh;
    background-color: #c5c2c2e8;
    box-shadow: 5px 5px 5px;
    text-align: center;
    padding-top: 0vh;
}


.project {
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
    width: 700px;
    padding-left: 58vh;
  }
  .project-grid {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 10px;
    text-align: center;
    width: 200px;
    height: 113px;
  }

  .project-grid img {
      width: 200px;
      height: 113px;
  }



/* Contact Details */
#con {
    width: 100%;
    height: 100vh;
    background-color: #d8d8d8b5;
    box-shadow: 5px 5px 5px;
    text-align: center;
    padding-top: 3vh;
}

.my-pic {
    border-radius: 15%;
    width: 150px;
    height: 150px;;
}

.icon-image img {
    width: 20px;
    height: 20px;
}

.icon:hover {
        transform: rotateY(720deg);
        transition: transform 4s ease-out;
}

}