// MY Tags

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Saira Extra Condensed' !important;
    margin: 0;

    // margin: 0;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
     font-size: auto;
    /* font-weight: 400; */
    /* line-height: 1.5; */
    /* color: #212529; */
    /* text-align: left; */
    /* background-color: #fff; */
}

p {
    font-size: 17px !important;
}

header {
    background-image: url(../images/display.jpg);
    background-size: cover;
    height: 100vh;
}

nav {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);

    ul {
        padding-top: 7px;
        padding-right: 10px;
        margin: 0;
        text-align: right;
        padding-left: 0;
    }

    li {
        list-style: none;
        display: inline;
        padding: 10px;
    }

    a {
        text-decoration: none;
        // color: #335eeb;
        font-size: 19px;
        color: black;
        // color: #949292 ;
        text-transform: uppercase;
        letter-spacing: .5px;
    }

    .home {
        margin-left: 90vh;
    }

    .logo {
        transform: translate(-18%);
    }
}

h1 {
    font-size: 2em !important;
}

h4 {
    font-weight: lighter;
}

.h3 {
    font-weight: bold !important;
    font-size: 1.17em !important;
}

.h4 {
    font-size: 15px !important;
}

.h5 {
    font-size: 14px !important;
    font-weight: bold !important;
}

h3, h4, h5, h6 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}




footer {
    // height: 50vh;
    background-image: url(../images/wolf-1341881_1920.jpg);
    background-size: cover;

    .footer {
        height: 50px;
        background-color: white;
    }

    .footer-h1 {
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        text-transform: uppercase;
        text-align: right;
        color: white;  
    }
}