

#button {
    transition: background-color .5s, visibility .7s, opacity .7s;
    background-color: #a88d7b;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
    position: fixed;
    padding: 15px;
    z-index: 500;
    right: 25px;
    opacity: 0;
    top: 530px;
}