// This is where I link my Fonts and Colors

// Saira Extra Condensed
@font-face {
    font-family: 'Saira Extra Condensed';
    src: url(../fonts/Saira_Extra_Condensed/SairaExtraCondensed-Regular.ttf);
  }

// Source Sans Pro
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

// Dosis
@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis/Dosis-Regular.ttf);
}